@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-dark text-brand-light-text font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.progress-bar-filled {
  background-color: theme('colors.brand-green');
  transition: width 0.5s ease-in-out;
}
.progress-bar-bg {
  background-color: #33373A;
}
